# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
*.spec

# IDE
.vscode/
.idea/

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Project specific
assets/fonts/theme.json
